Django==3.2
django-auth-ldap
cx-Oracle
django-registration-redux
mysql
pymysql
pyodbc
numpy
redis
pandas
sqlparse
ansible
ansible_runner
channels
channels_redis
uwsgi
querystring_parser
selenium
pillow
paramiko
xlrd==1.2.0