{% extends 'easyops/base.html' %}
{% block title %}adminsql{% endblock %}
{% block body_block %}
<!-- <style type="text/css">
    input[name="sqlstr"] {
        height: 300px;
        word-wrap: break-all;
        word-break: normal;
    }
</style> -->
<style>
	.nav-link{
		padding-top: -40px;
		text-align: center;
		color: gray;
	}
	.nav-link:hover{
		background: #e2e2e266;
		color: gray;
	}
	.oButton>button{
		margin-left: 93%;
		margin-top: 0.5%;
		 width: 90px;
		border-radius: 0.25rem;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		user-select: none;
		display: inline-block;
		font-weight: 400;
	}
	.list-group-item.active {
		    z-index: 2;
		    color: gray;
		    background-color:#f5f5f5;
		    border-color:#f5f5f5;
		}
</style>

<div class='row' id="app">
    <div class="col-2">
        <ul class="nav nav-pills flex-column">
            {% if perms.easyops.sqlexec %}
            {% for sqlstr in sqlstrs %}
            <li class="list-group-item list-group-item-light" data-id={{sqlstr.id}}>
                <a class='nav-link' href="#sqlstr{{sqlstr.id}}"
                    data-toggle='pill'>{{sqlstr.sqldesc}}</a>
            </li>
            {%endfor%}
            {% endif %}

        </ul>

    </div>
    <div class="col-10 row-fluid">
        <div class="tab-content">
            <div class="tab-pane fade " id="sqls">
                <div id="sqlid">
                </div>
            </div>

            <div class="list-group-item list-group-item-light tab-pane fade" id="dbconnection">
                <div id="dbid">
                </div>
            </div>

            {% if perms.easyops.sqlexec %}
            {% for sqlstr in sqlstrs %}
            <div class="list-group-item list-group-item-light tab-pane fade" id="sqlstr{{sqlstr.id}}">
                <!-- <p>[[v_sqlstrs]]</p> -->
                <p>{{sqlstr.sqlstr}}</p>
                {% for arg in sqlstr.args %}
                    <p>{{arg}}: <input type="text" id="{{sqlstr.id}}-{{arg}}"/></p>
                {% endfor %}
                <div class='row'>
                    <div class="col-10">
                        <span class="list-group-item list-group-item-light ">-- select database </span>
                        <select class="form-control" id="select{{forloop.counter}}">
                            <!-- <option disabled selected="true">-- select database </option> -->
                            {% for db in dbs %}
                            {% if sqlstr.dbtype == db.dbtype %}
                            <option value="{{db.dbname}}" >{{db.dbname}}</option>
                            {% endif %}
                            {%endfor%}
                        </select>
                    </div>
                </div>
				<div class="oButton">
                <button type='button' class='btn btn-primary' id="runsql{{forloop.counter}}">运行sql</button>
                <!-- <div id="result{{sqlstr.id}}"> -->
				</div>
                <div id="result{{forloop.counter}}"> 
                </div>


            </div>
            {% endfor %}
            {% endif %}


        </div>

    </div>
</div>
<script>

    var sqlstrs = {{ sqlstrs| safe}};


   
    console.log(sqlstrs)
    for (var i = 0; i < sqlstrs.length; i++) {
        console.log(sqlstrs[i].sqlname)
    }

    function textAreaEditor(container, options) {
        $('<textarea class="k-textbox" name="' + options.field + '" style="width:100%;height:300px;" />').appendTo(container);
    }
    var copiedrow = false
    


    for (var i = 0; i < sqlstrs.length; i++) {
        // alert(sqlstrs[i].sqlstr);
        // alert("#runsql"+sqlstrs[i].id);
        var isDateField = [];
       
        // $("#runsql" + sqlstrs[i].id).kendoButton({
        forloopi=i+1
        $("#runsql" + forloopi.toString()).kendoButton({
            click: function () {

                check_session_timeout()
                button_id = event.target.id
                // alert(event.target.id);
                var reg = /\d+/g;
                chosenvalue = button_id.match(reg)[0]
                var dbname = document.getElementById("select"+chosenvalue).value; 
                
                chosensqlid=sqlstrs[chosenvalue-1]['id']
                
                // alert(chosensqlid)
              
                aarg ={}
                for (var j=0;j<sqlstrs[chosenvalue-1].args.length;j++)
                {   
                    aarg[sqlstrs[chosenvalue-1].args[j]]=document.getElementById(chosensqlid+'-'+sqlstrs[chosenvalue-1].args[j]).value; 
                    // alert(JSON.stringify(args))
                }
                                
                $("#result" + chosenvalue).empty();
                $("#result" + chosenvalue).html('正在执行，等待加载结果，请耐心等候。。。')


                $.ajax({
                    // async: false,
                    type: 'POST',
                    url: '/easyops/runsql',
                    data: {
                        'runtype': 2,
                        'sqlid': chosensqlid,
                        'dbname': dbname,
                        'args':JSON.stringify(aarg)
                    },
                    dataType: "json",
                    success: function (result) {
                        // alert(result)
                        if (result['isok'] == 0) {
                            alert(result['errmsg'])
                            $("#result" + chosenvalue).html('执行失败，错误原因是：' + result['errmsg'])
                        }
                        else {
                            generateGrid(result);
                        }
                    }
                });

            }

        })
    }

    function generateGrid(response) {
        var model = generateModel(response);
        var columns = generateColumns(response);
        var myDate = new Date();
        var ls_date = myDate.getMinutes().toString() + myDate.getSeconds().toString();
        // alert(myDate.toString().replace(/\s/g,''))
        // alert(ls_date)
        $("#result" + chosenvalue).empty();
        var grid = $("#result" + chosenvalue).kendoGrid({
            toolbar: ["excel"],
            excel: {
                fileName: 'result' + chosenvalue + ls_date + ".xlsx",
                proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
                filterable: true,
                allPages: true
            },
            dataBound: onDataBound, 
            dataSource: {
                transport: {
                    read: function (options) {
                        options.success(response.data);
                    }
                },

                schema: {
                    model: model
                }
            },
            columns: columns,
            pageable: { pageSize: gridpagesize },
            editable: false,
            sortable: true,
            resizable: true,
        });
    }
    function onDataBound()  
    {  
        var grid = $("#result"+ chosenvalue).data("kendoGrid");  
        for (var i = 0; i < grid.columns.length; i++) {  
            grid.autoFitColumn(i);  
        }  
    }  
    function generateColumns(response) {
        var columnNames = response["columns"];
        return columnNames.map(function (name) {
            return { field: name, format: (isDateField[name] ? "{0:D}" : "") };
        })
    }

    function generateModel(response) {
        var sampleDataItem = response["data"][0];

        var model = {};
        var fields = {};
        for (var property in sampleDataItem) {
            if (property.indexOf("ID") !== -1) {
                model["id"] = property;
            }
            var propType = typeof sampleDataItem[property];

            if (propType === "number") {
                fields[property] = {
                    type: "number",
                    validation: {
                        required: true
                    }
                };
                if (model.id === property) {
                    fields[property].editable = false;
                    fields[property].validation.required = false;
                }
            } else if (propType === "boolean") {
                fields[property] = {
                    type: "boolean"
                };
            } else if (propType === "string") {
                fields[property] = {
                    type: "string"
                };
            } else {
                fields[property] = {
                    validation: {
                        required: true
                    }
                };
            }
        }

        model.fields = fields;

        return model;
    }






</script>

{% endblock %}