{% extends 'easyops/base.html' %} 
{% block title %}index{% endblock %} 
{% block body_block %}
<div class='row'>
    <div class="col-2">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class='nav-link active' href="#xw1" data-toggle='pill'>
                    <span class="badge badge-light">1.</span>
                    新闻1
                </a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href="#xw2" data-toggle='pill'>新闻2</a>
            </li>
        </ul>
        <ul class="nav-pills">
            <li>1</li>
            <li>2</li>
        </ul>

    </div>
    <div class="col-10">
        <div class="tab-content">
            <div class="tab-pane active fade in" id="xw1">
                <p><a href="#">图解TPP朋友圈：美国一直有件事没坦白(图)</a><span class="pull-right">2015-10-6</span></p>
                <p><a href="#">图解TPP朋友圈：美国一直有件事没坦白(图)</a><span class="pull-right">2015-10-6</span></p> 
                <p><a href="#">图解TPP朋友圈：美国一直有件事没坦白(图)</a><span class="pull-right">2015-10-6</span></p>
                <p><a href="#">图解TPP朋友圈：美国一直有件事没坦白(图)</a><span class="pull-right">2015-10-6</span></p>
                <p><a href="#">图解TPP朋友圈：美国一直有件事没坦白(图)</a><span class="pull-right">2015-10-6</span></p>
                <p><a href="#">图解TPP朋友圈：美国一直有件事没坦白(图)</a><span class="pull-right">2015-10-6</span></p>
                <p><a href="#">图解TPP朋友圈：美国一直有件事没坦白(图)</a><span class="pull-right">2015-10-6</span></p>
                <p><a href="#">图解TPP朋友圈：美国一直有件事没坦白(图)</a><span class="pull-right">2015-10-6</span></p>
                <p><a href="#">图解TPP朋友圈：美国一直有件事没坦白(图)</a><span class="pull-right">2015-10-6</span></p>
            </div>
            <div class="tab-pane fade" id="xw2">
                <p><a href="#">预计9月CPI增长1.8% 全年涨幅难上2%</a><span class="pull-right">2015-10-4</span></p>
                <p><a href="#">图解TPP朋友圈：美国一直有件事没坦白(图)</a><span class="pull-right">2015-10-5</span></p>
                <p><a href="#">图解TPP朋友圈：美国一直有件事没坦白(图)</a><span class="pull-right">2015-10-6</span></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}